.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    .header {
        font-size: 24px;
        font-family: "Open Sans", sans-serif;
        font-weight: 550;
    }

    .content {
        display: flex;
        flex-direction: column;
        .imageLogin {
            margin-top: 4%;
            width: 21em;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }

    .form {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: fit-content;
            label {
                font-size: 20px;
            }

            input {
                margin-top: 6px;
                min-width: 18em;
                height: 37px;
                padding: 0px 10px;
                font-size: 16px;
                font-family: "Open Sans", sans-serif;
                background-color: #f3f3f3;
                border-radius: 4px;
                border-color: #f3f3f3;
                border-style: inherit;
                margin-bottom: 31px;
                transition: all 250ms ease-in-out;
                &:focus {
                    outline: none;
                    box-shadow: 0px 0px 12px 0.8px #0e81ce96;
                }
            }

        }
    }
    .btn{
        font-size: 21px;
        padding: 5px 20px;
        border: 0;
        background-color: red;
        color: #fff;
        border-radius: 4px;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: red;
        }
        &:focus {
            outline: none;
        }
    }
    .footer {
        margin-top: 1em;
    }
}